<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

# Instruct the browser to always check for the latest version of your files using Apache directives
# <IfModule mod_headers.c>
#	<FilesMatch "(?i)^.*\.(pdf)$">
#		Header set Cache-Control "max-age=0,must-revalidate"
#	</FilesMatch>
# </IfModule>