/* .table, 
.table thead,
.table tbody,
.table th,
.table tr {
  border-bottom-color: #657f97d8 !important;
} */

.table {
  border-color: #ccc;
}

table.dataTable {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}

.content-header {
  border-bottom-width: 2px !important;
  padding-bottom: 20px !important;
}

/* .custom-content {
  padding-top: 0px;
} */

.custom-content .col-lg-12 {
  padding: 0
}

.custom-content .box {
  border-top: 0;
}

.custom-content .box-body {
  padding: 20px;
}

#nav-data {
  list-style: none;
  padding: 0;
}

#nav-data a {
  /* color: #fff; */
  font-size: 1em;
}

#nav-data a.btn-link {
  color: #fff;
  border: 1px solid green;
  background-color: teal;
  margin-left: 5px;
}

#nav-data > li {
  padding: 15px;
  /* background-color: teal; */
  border: 1px solid #999;
  margin-bottom: 15px;
}

/* Childs */s

#nav-data > li > ul {
  list-style: none;
  padding: 10px;
  padding-left: 20px;
}

#nav-data > li > ul > li {
  padding: 10px;
  /* background-color:orange; */
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

#nav-data > li > ul > li:first-child {
  padding: 10px;
  /* background-color:orange; */
  border: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 15px;
}

.info-box {
  border: 0.5px solid #f2f2f2;
}

/* ul[class="nav-dropdown-container-"] {

} */